<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-starter-template.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="static/mealplanner/starter-template.css" rel="stylesheet">
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
        <title>
            {% block title %}
            Meal Planner
            {% endblock %}
        </title>
    </head>

    <body>
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
                  <a class="navbar-brand" href="/mealplanner">MealPlanner</a>
                  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-link" style="list-style: none">
                          <a class="nav-link" href="/mealplanner/addrecipe">Add Recipe</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                      </li>
                      <li class="nav-item" style="list-style: none">
                        <a class="nav-link" href="/mealplanner/lists">Shopping Lists</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                      </li>
                      <li class="nav-item" style="list-style: none">
                        <a class="nav-link" href="/mealplanner/addlist">New Shopping List</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                      </li>
                      <li style="list-style: none; color:white">
                          {% if user.is_authenticated %}
                          Logged in as {{ request.user.username }}&nbsp;|&nbsp;<a href="{% url 'logout' %}">Log Out</a>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          {% else %}
                          Not logged in &nbsp;|&nbsp; <a href="{% url 'login' %}">Login</a>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          {% endif %}
                    </ul>
                    <form class="form-inline" action="{% url 'mealplanner:recipe-search' %}" method="." accept-charset="utf-8">
                      <input class="form-control" type="text" name="q" placeholder="Recipe Name">
                      <button class="btn" type="submit">Search Recipes</button>
                    </form>
                  </div>
                </nav>

                <div>
                    <main>
                    {% block content %}
                    This is default content!
                    {% endblock %}
                    </main>
                </div>
</body>
        <footer>
            <p>
                &copy; 2017 <a href="https://github.com/janglehorse">Caleb Travers</a>
            <p>
                <a href="https://github.com/janglehorse/LCFinalProject">
                    View Source Code for This Project</a>
            </p>
        </footer>
</html>
