<ul>
    {% for recipe in object_list %}
        <p>
        <li><a href="{% url 'mealplanner:recipe-detail' recipe.pk %}"><strong>{{ recipe.name }}</strong></a></li>
        <li>{{ recipe.text }}</li>
        {% for ingredient in recipe.ingredients.all %}
        <li>{{ ingredient }}
            {% for unit in ingredient.unit.all %}
            - {{ unit.quantity }} {{ unit.get_unitOfMeasure_display }}</li>
        {% endfor %}
        {% endfor %}
        <li>Recipe Id: {{ recipe.id }}</li>
    </p>
    {% endfor %}
</ul>
