{% extends "mealplanner/base.html" %}

{% block title %}
{{ block.super }} - All Recipes
{% endblock %}

{% block content %}

{% load fractions %}

<div class="container">
    <h2>{{ view.title }}</h2>
    <br>
    <br>
    {% for recipe in object_list %}
    <ul>

            <li>
                <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><a href="{% url 'mealplanner:recipe-detail' recipe.pk %}">{{ recipe.name }}</a></h4>
                </div>
                    <div class="panel-body"><i>{{ recipe.text }}</i></div>
                    {% for ingredient in recipe.ingredient_set.all %}
                    <div class="panel-body">
                        <ul>
                            <li><strong>{{ ingredient.name }}</strong>
                            - {% display_fraction ingredient.quantity allow_mixed_numbers=True %}
                            {% if not ingredient.unitOfMeasure == 'NA' %}
                            {{ ingredient.get_unitOfMeasure_display }}
                            {% endif %}
                            {% if not ingredient.quantity_2 == 0 %}
                            {% display_fraction ingredient.quantity_2 allow_mixed_numbers=True %}
                            {{ ingredient.get_unitOfMeasure_2_display }}
                            {% endif %}
                    </div>
                    {% endfor %}


                    <div class="panel-footer">
                        <table>
                            <tr>
                                {% if recipe.author %}
                                <td>
                                    <strong>Created by <a href="{% url 'mealplanner:user-recipes' pk=recipe.author.id %}">{{ recipe.author.username }}</a></strong>&nbsp;&nbsp;
                                </td>
                                {% endif %}
                                <td>
                                    &nbsp;&nbsp;<a href="{% url 'mealplanner:recipe-update' recipe.pk %}">Edit</a> | <a href="{% url 'mealplanner:recipe-delete' recipe.pk %}">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

    </ul>
    {% endfor %}

</div>

{% endblock %}
