{% extends "mealplanner/base.html" %}}

{% block content %}

<body>

    <div class="container">
        <h2>Add Recipe</h2>
        <br>
        <br>
        <form action="." method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <fieldset>
                <legend>Recipe Ingredients</legend>
                {{ ingredient_form.management_form }}
                {{ ingredient_form.non_form_errors }}
                {% for form in ingredient_form %}
                    {{ form.id }}
                    <div class="form-group">
                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.name }}
                        {{ form.category }}
                        {{ form.quantity }}
                        {{ form.unitOfMeasure }}
                        {{ form.quantity_2 }}
                        {{ form.unitOfMeasure_2 }}
                    </div>
                {% endfor %}
            </fieldset>

            <fieldset>
                <legend>Recipe Instructions</legend>
                {{ instruction_form.management_form }}
                {{ instruction_form.non_form_errors }}
                {% for form in instruction_form %}
                    {{ form.id }}
                    <div class="form-group">
                        {{ form.number.errors }}
                        {{ form.number.label_tag }}
                        {{ form.number }}
                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.text }}
                    </div>
                {% endfor %}
            </fieldset>
            <br>
            <input type="submit" value="Add Recipe" class="submit" />
        </form>
    </div>

{% endblock %}
